@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  /* fonts */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  /* colors */
  --color-white: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}